.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

.switchButton {
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 5px 10px;
}

.switchButton:hover {
  background-color: white;
  color: black;
}

.image {
  max-width: 100%;
  max-height: 92%;
  width: auto;
  height: auto;
  object-fit: contain;
}

@media (max-height: 500px), (max-width: 768px) {
  .switchButton {
    font-size: 12px;
    padding: 3px 6px;
  }
}

@media (max-height: 300px) {
  .switchButton {
    font-size: 12px;
    padding: 1px 6px;
  }
}