.mainContainer {
  width: 80%;
  height: auto;
  max-height: 90vh;
  padding: 1rem;
  margin: auto;
  margin-top: 10vh;
  background: rgba(200, 200, 200, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 2560px) {
  .mainContainer {
    width: 70%;
    height: 90vh;
    font-size: 2rem;
  }
}

@media (max-width: 1440px) {
  .mainContainer {
    width: 75%;
    font-size: 1.4rem;
  }
}

@media (max-width: 1024px) {
  .mainContainer {
    width: 85%;
    font-size: 1.3rem;
  }
}

@media (max-width: 900px) {
  .mainContainer {
    width: 90%;
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    width: 95%;
    font-size: 1.1rem;
  }
}

@media (max-width: 600px) {
  .mainContainer {
    width: 96%;
    font-size: 1rem;
    border-radius: 10px;
  }
}

@media (max-width: 480px) {
  .mainContainer {
    width: 98%;
    font-size: 0.9rem;
    border-radius: 8px;
  }
}

@media (max-width: 360px) {
  .mainContainer {
    width: 98%;
    font-size: 0.8rem;
    border-radius: 6px;
  }
}