.mainContainer {
  width: 80%;
  height: 90dvh;
  overflow-x: hidden;
  margin: auto;
  margin-top: 10vh;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 2560px) {
  .mainContainer {
    width: 70%;
    height: 90vh;
  }
}

@media (max-width: 1440px) {
  .mainContainer {
    width: 75%;
  }
}

@media (max-width: 1024px) {
  .mainContainer {
    width: 85%;
  }
}

@media (max-width: 900px) {
  .mainContainer {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    width: 95%;
  }
}

@media (max-width: 600px) {
  .mainContainer {
    width: 96%;
    border-radius: 10px;
  }
}

@media (max-width: 480px) {
  .mainContainer {
    width: 98%;
    border-radius: 8px;
  }
}

@media (max-width: 360px) {
  .mainContainer {
    width: 98%;
    border-radius: 6px;
  }
}